<div style="background-color: #14490a; color: white;
    position: absolute; width: 100%; height: 150px;">
  <div style="margin-top: 2rem; margin-bottom: 2rem; margin-left: 2rem;
      margin-right: 2rem; text-align: center;">
      <div style="margin-bottom: 2rem;">
        <img src="../../assets/immagini/logo.png" alt="logo.png" style="width:2rem; height:2rem; margin-right: 1rem;">
        Sporting Club Mendicino &nbsp; - &nbsp; via ___ 87040 Mendicino (Cosenza) &nbsp; - &nbsp; Tel. 0984-632222
        <a href="https://www.facebook.com/SportingClubMendicino"><img src="../../assets/immagini/logo_fb.png" alt="logo.png"
            style="width:2rem; height:2rem; margin-left: 1rem;"></a>
      </div>
  </div>
</div>