<div style="background-color: #14490a; color: white; width: 100%;">
  <div>
    <div class="p-grid"
    style="margin-top: 0rem; margin-bottom: 0rem; margin-left: 0rem; margin-right: 0rem;
      padding-left: 0px; padding-right: 0px; padding-top: 2rem; padding-bottom: 2rem;">

        <div class="col-md-4" style="text-align: center; margin-bottom: 1rem;">
            <img src="../../assets/immagini/logo.png" alt="logo.png" style="width:4rem; height:4rem;">
          </div>

        <div class="col-md-4" style="text-align: center;">
          <div>Sporting Club Mendicino</div>
          <div>Via Papa Giovanni XXIII n. 8</div>
          <div>87040, Mendicino (CS)</div>
          <div>Tel. 0984-632222</div>
          <div>Cell. 3295726904</div>
        </div>

        <div class="col-md-4" style="text-align: center;">
          <div>
            <a href="https://www.facebook.com/SportingClubMendicino">
              <img src="../../assets/immagini/logo_fb.png" alt="logo.png"
                style="width:2rem; height:2rem; margin-right: 1rem; margin-top: 1rem;">
            </a>
            <a href="https://www.instagram.com/sporting.mendicino/"><img src="../../assets/immagini/logo_ig.png"
                alt="logo.png" style="width:2rem; height:2rem; margin-top: 1rem;">
            </a>
          </div>
        </div>
      </div>

  </div>
</div>
