<div style="background-color: #14490a; color: white;
    position: absolute; width: 100%; height: 150px;">
  <div style="margin-top: 2rem; margin-bottom: 2rem; margin-left: 2rem;
      margin-right: 2rem; text-align: center;">
    <div style="margin-bottom: 2rem;">
      <img src="../../assets/immagini/logo.png" alt="logo.png" style="width:2rem; height:2rem; margin-right: 1rem;">
      Sporting Club Mendicino &nbsp; - &nbsp; via Papa Giovanni XXIII n. 8, 87040, Mendicino (CS)
      &nbsp; - &nbsp; Tel. 0984-632222 &nbsp; - &nbsp; Cell. 3295726904
      <a href="https://www.facebook.com/SportingClubMendicino"><img src="../../assets/immagini/logo_fb.png"
          alt="logo.png" style="width:2rem; height:2rem; margin-left: 1rem;"></a>
      <a href="https://www.instagram.com/sporting.mendicino/"><img src="../../assets/immagini/logo_ig.png"
          alt="logo.png" style="width:2rem; height:2rem; margin-left: 1rem;"></a>
    </div>
  </div>
</div>