<app-navbar></app-navbar>

<p-card header="Profilo"
  [style]="{'background-color':'#DDFFB2', 'width':'27rem', 'margin-top':'3rem', 'margin-left':'auto', 'margin-right':'auto'}">
  <div style="margin-bottom: 1rem;">
    <label>Nome: {{atleta.nome}}</label>
  </div>
  <div style="margin-bottom: 1rem;">
    <label>Cognome: {{atleta.cognome}}</label>
  </div>
  <div style="margin-bottom: 1rem;">
    <label>Username: {{atleta.username}}</label>
  </div>
  <div style="margin-bottom: 1rem;">
    <label>Telefono: {{atleta.telefono}}</label>
  </div>
</p-card>