<div style="background-color: #B9FF98; margin-bottom: 4rem;">
  <app-navbar></app-navbar>

  <div class="p-grid" style="margin-top: 2rem; margin-left: 1rem; margin-right: 1rem;">

    <div class="col-xs-1 col-md-3">
    </div>

    <div class="col-xs-10 col-md-6" style="margin-bottom: 30px;">
      <div style="position: center;">
        <img src="../../assets/immagini/home.jpeg" alt="home" style="width:100%; height:auto;">
      </div>
    </div>

    <div class="col-xs-1 col-md-3">
    </div>
  </div>

  <div class="p-grid" style="margin-top: 2rem; margin-left: 1rem; margin-right: 1rem;">

    <div class="p-xm-12 p-md-6">
      <div class="p-col-12">
        <p-card header="Profilo" [style]="{'background-color':'#f8f9fa'}">


          <form #f="ngForm" (ngSubmit)="f.form.valid && modifica()" novalidate>

            <div *ngIf="!modificaDati" style="text-align: right;">
              <button pButton style="margin-right: 1rem;" label="Modifica" class="p-button-warning" (click)="modificaDati=true;"></button>
            </div>

            <div class="form-group">
              <div *ngIf="modificaDati" style="text-align: right;">
                <button pButton style="margin-right: 1rem;" type="submit" [disabled]="f.invalid" label="Salva"
                  class="p-button-success"></button>
              </div>
            </div>

            <div style="margin-bottom: 1rem;">
              <label>Email</label>
              <div *ngIf="!modificaDati">
                <label>{{atleta.email}}</label>
              </div>
              <div *ngIf="modificaDati" class="form-group">
                <input pInputText class="form-control" id="inEmail" name="inEmail" #inEmail="ngModel" required
                  style="max-width: 400px;" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}"
                  [(ngModel)]="atleta.email" [ngClass]="{'is-invalid': f.submitted && inEmail.invalid }" />
                <div *ngIf="inEmail.dirty && inEmail.touched && inEmail.invalid">
                  Formato email non permesso
                </div>
              </div>
            </div>

            <div style="margin-bottom: 1rem;">
              <label>Password</label>
              <div *ngIf="!modificaDati">
                <label>{{atleta.password}}</label>
              </div>
              <div *ngIf="modificaDati" class="form-group">
                <input pPassword type="password" class="form-control" id="inPassword" name="inPassword"
                  #inPassword="ngModel" style="max-width: 400px;" required minlength="3" [(ngModel)]="atleta.password"
                  [ngClass]="{'is-invalid': f.submitted && inPassword.invalid }" />
                <div *ngIf="inPassword.dirty && inPassword.touched && inPassword.invalid">
                  Lunghezza minima 3
                </div>
              </div>
            </div>

            <div style="margin-bottom: 1rem;">
              <label>Nome</label>
              <div *ngIf="!modificaDati">
                <label>{{atleta.nome}}</label>
              </div>
              <div *ngIf="modificaDati" class="form-group">
                <input pInputText class="form-control" id="inNome" name="inNome" #inNome="ngModel" required minlength="3"
                  style="max-width: 400px;" [(ngModel)]="atleta.nome"
                  [ngClass]="{'is-invalid': f.submitted && inNome.invalid }" />
                <div *ngIf="inNome.dirty && inNome.touched && inNome.invalid">
                  Lunghezza minima 3
                </div>
              </div>
            </div>

            <div style="margin-bottom: 1rem;">
              <label>Cognome</label>
              <div *ngIf="!modificaDati">
                <label>{{atleta.cognome}}</label>
              </div>
              <div *ngIf="modificaDati" class="form-group">
                <input pInputText class="form-control" id="inCognome" name="inCognome" #inCognome="ngModel" required
                  style="max-width: 400px;" minlength="3" [(ngModel)]="atleta.cognome"
                  [ngClass]="{'is-invalid': f.submitted && inCognome.invalid }" />
                <div *ngIf="inCognome.dirty && inCognome.touched && inCognome.invalid">
                  Lunghezza minima 3
                </div>
              </div>
            </div>

            <div style="margin-bottom: 1rem;">
              <label>Telefono</label>
              <div *ngIf="!modificaDati">
                <label>{{atleta.telefono}}</label>
              </div>
              <div *ngIf="modificaDati" class="form-group">
                <input pInputText class="form-control" id="inTelefono" name="inTelefono" #inTelefono="ngModel" required
                  style="max-width: 400px;" minlength="=10" maxlength="10" pattern="[0-9]{10}" [(ngModel)]="atleta.telefono"
                  [ngClass]="{'is-invalid': f.submitted && inTelefono.invalid }" />
                <div *ngIf="inTelefono.dirty && inTelefono.touched && inTelefono.invalid">
                  Solo numeri permessi, lunghezza 10
                </div>
              </div>
            </div>

            <div style="margin-bottom: 1rem;">
              <label>Livello</label>
              <div *ngIf="!modificaDati">
                <label>{{atleta.livello}}</label>
              </div>
              <div *ngIf="modificaDati"class="form-group">
                <input pInputText class="form-control" id="inLivello" name="inLivello" #inLivello="ngModel" required
                  style="max-width: 400px;" minlength="3" [(ngModel)]="atleta.livello"
                  [ngClass]="{'is-invalid': f.submitted && inLivello.invalid }" />
                <div *ngIf="inLivello.dirty && inLivello.touched && inLivello.invalid">
                  Lunghezza minima 3
                </div>
              </div>
            </div>

          </form>
        </p-card>
      </div>

      <div class="p-col-12">
        <p-card header="Prenotazioni in corso" [style]="{'background-color':'#f8f9fa'}">
          <p-table [value]="prenotazioni" [scrollable]="true">
            <ng-template pTemplate="colgroup">
              <colgroup>
                <col style="width: 33%">
                <col style="width: 33%">
                <col style="width: 33%">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Giorno</th>
                <th>Orario</th>
                <th>Campo</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-prenotazione>
              <tr>
                <td>{{prenotazione.giorno}}</td>
                <td>{{getInizio(prenotazione)}}-{{getFine(prenotazione)}}</td>
                <td>{{prenotazione.campo.nome}}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </div>
    </div>


    <div class="p-xm-12 p-md-6">
      <div class="p-col-12">
        <p-card header="Prenotazioni fisse" [style]="{'background-color':'#f8f9fa'}">
          <p-table [value]="prenotazioniFisse" [scrollable]="true">
            <ng-template pTemplate="colgroup">
              <colgroup>
                <col style="width: 25%">
                <col style="width: 25%">
                <col style="width: 25%">
                <col style="width: 25%">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Giorno</th>
                <th>Inizio</th>
                <th>Durata</th>
                <th>Campo</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-prenotazione>
              <tr>
                <td>{{convertiGiorno(prenotazione.giorno)}}</td>
                <td>{{prenotazione.fasciaOraria.inizio}}</td>
                <td>{{convertiDurata(prenotazione.durata)}}</td>
                <td>{{prenotazione.campo.nome}}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </div>


      <div class="p-col-12">
        <p-card header="Pagamenti in sospeso" [style]="{'background-color':'#f8f9fa'}">
          <div *ngIf="isAdmin()">
            <button pButton type="button" label="Aggiungi" class="p-button-primary"
              (click)="visualizzaAggiungiDebito()">
            </button>
          </div>
          <p-table [value]="debiti">
            <ng-template pTemplate="header">
              <tr>
                <th>Atleta</th>
                <th>Descrizione</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-debito>
              <tr>
                <td>{{debito.atleta.nome}} {{debito.atleta.cognome}}</td>
                <td>€ {{debito.importo}} - {{debito.descrizione}}</td>
                <td>
                  <div *ngIf="isAdmin()" style="text-align: center;">
                    <button pButton type="button" label="Salda" class="p-button-warning" (click)="salda(debito)">
                    </button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </div>
    </div>



  </div>
</div>

<app-footer></app-footer>


<p-dialog header="Aggiungi nuovo debito" [(visible)]="aggiungiDebito">
  <div style="height: 20rem;">

    <div style="margin-bottom: 1rem;">
      <label>Atleta</label>
      <div>
        <p-dropdown [options]="atleti" [(ngModel)]="debito.atleta" optionLabel="username" placeholder="Atleta">
        </p-dropdown>
      </div>
    </div>

    <div style="margin-bottom: 1rem;">
      <label>Importo</label>
      <div>
        <input type="number" step="any" pInputText [(ngModel)]="debito.importo" />
      </div>
    </div>

    <div style="margin-bottom: 1rem;">
      <label>Descrizione</label>
      <div>
        <input pInputText [(ngModel)]="debito.descrizione" />
      </div>
    </div>

    <div>
      <button pButton style="margin-left: 2rem;" label="Salva" (click)="salvaDebito()"
        class="p-button-primary"></button>
    </div>
  </div>
</p-dialog>

<p-toast [style]="{'max-width': '80%'}" position="bottom-left" key="tc"></p-toast>
