<app-navbar></app-navbar>

<div style="margin-left: 3rem; margin-right: 3rem; margin-top: 1rem; margin-bottom: 2rem;">
    <div style="text-align: center; margin-bottom: 1rem;">
        <div>
            Giorno &nbsp; &nbsp; <p-calendar [(ngModel)]="giorno" (onSelect)="aggiornaPrenotazioni()"></p-calendar>
        </div>
    </div>
    <p-table [columns]="campi" [value]="fasceOrarie" styleClass="p-datatable-sm">
        <ng-template pTemplate="header" let-varCampo>
            <tr>
                <th>Fascia Oraria</th>
                <th *ngFor="let campo of varCampo">
                    {{campo.nome}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fasciaOraria let-varCampo="columns">
            <tr>
                <td>{{fasciaOraria.inizio}} - {{fasciaOraria.fine}}</td>
                <td *ngFor="let campo of varCampo">

                    <div *ngIf="isAdmin()">
                        <div *ngIf="!isPrenotato(fasciaOraria,campo)">
                            <div *ngIf="prenotabile(fasciaOraria, campo);else nonPrenotabile">
                                <button pButton type="button" label="Prenota" class="p-button-primary"
                                    (click)="showAddPrenotazione(fasciaOraria, campo)"></button>
                            </div>
                            <ng-template #nonPrenotabile>
                                <button pButton type="button" label="Prenota" class="p-button-secondary"></button>
                            </ng-template>
                        </div>
                        <div *ngIf="isPrenotato(fasciaOraria,campo)">
                            <div *ngIf="getAdminPrenotazione(fasciaOraria,campo)">
                                <div *ngIf="getLiberaPrenotazione(fasciaOraria,campo); else noLibera">
                                    <button pButton type="button" label=" " class="p-button-help"
                                        (click)="showPrenotazione(fasciaOraria, campo)">{{getNomePrenotazione(fasciaOraria,campo)}}</button>
                                </div>
                                <ng-template #noLibera>
                                    <button pButton type="button" label=" " class="p-button-warning"
                                        (click)="showPrenotazione(fasciaOraria, campo)">{{getNomePrenotazione(fasciaOraria,campo)}}</button>
                                </ng-template>
                            </div>
                            <div *ngIf="!getAdminPrenotazione(fasciaOraria,campo)">
                                <button pButton type="button" label=" " class="p-button-danger"
                                    (click)="showPrenotazione(fasciaOraria, campo)">{{getNomePrenotazione(fasciaOraria,campo)}}</button>
                            </div>

                        </div>
                    </div>

                    <div *ngIf="!isAdmin()">
                        <div *ngIf="isPrenotato(fasciaOraria,campo) && tuaPrenotazione(fasciaOraria,campo)">
                            <button pButton type="button" label="Annulla" class="p-button-warning"
                                (click)="annullaPrenotazione(fasciaOraria,campo)"></button>
                        </div>
                        <div *ngIf="isPrenotato(fasciaOraria,campo) && !tuaPrenotazione(fasciaOraria,campo)">
                            <button pButton type="button" label="Occupato" class="p-button-danger"></button>
                        </div>
                        <div *ngIf="!isPrenotato(fasciaOraria,campo)">
                            <button pButton type="button" label="Prenota" class="p-button-primary"
                                (click)="prenota(fasciaOraria,campo)"></button>
                        </div>
                    </div>

                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Prenotazione" [(visible)]="visualizzaPrenotazione">
    <h3>{{prenotazione.atleta.nome}} {{prenotazione.atleta.cognome}}</h3>
    <div style="margin-bottom: 1rem;"> {{prenotazione.atleta.email}} </div>
    <div style="margin-bottom: 3rem;"> {{prenotazione.atleta.telefono}} </div>
    <button pButton type="button" label="Elimina" class="p-button-danger" (click)="eliminaPrenotazione()"></button>
</p-dialog>

<p-dialog header="Aggiungi nuova prenotazione" [(visible)]="visualizzaAddPrenotazione">
    <div style="height: 20rem;">

        <p-tabView>

            <p-tabPanel header="Maestro">
                <form #f1="ngForm" (ngSubmit)="f1.form.valid && prenotazioneMultipla()" novalidate>
                    <div class="form-group">
                        <div style="margin-bottom: 2rem;">
                            <p-dropdown class="form-control" id="inAtleta" name="inAtleta" #inAtleta="ngModel" required
                                [ngClass]="{'is-invalid': f1.submitted && inAtleta.invalid }" [options]="admin"
                                [(ngModel)]="prenotazione.atleta" optionLabel="username" placeholder="maestro">
                            </p-dropdown>
                        </div>
                        <div style="margin-bottom: 2rem;">
                            <p-dropdown class="form-control" id="durata" name="durata" #durata="ngModel" required
                                [ngClass]="{'is-invalid': f1.submitted && durata.invalid }" [options]="fasceDisponibili"
                                [(ngModel)]="durataa" optionLabel="stringa" placeholder="durata">
                            </p-dropdown>
                        </div>
                        <button pButton type="submit" style="margin-left: 2rem;" [disabled]="f1.invalid" label="Salva"
                            class="p-button-primary">
                        </button>
                    </div>
                </form>
            </p-tabPanel>

            <p-tabPanel header="Atleta">
                <form #f2="ngForm" (ngSubmit)="f2.form.valid && prenotazioneMultipla()" novalidate>
                    <div class="form-group">
                        <div style="margin-bottom: 2rem;">
                            <p-dropdown class="form-control" id="inAtleta" name="inAtleta" #inAtleta="ngModel" required
                                [ngClass]="{'is-invalid': f2.submitted && inAtleta.invalid }" [options]="atleti"
                                [(ngModel)]="prenotazione.atleta" optionLabel="username" placeholder="atleta">
                            </p-dropdown>
                        </div>
                        <div style="margin-bottom: 2rem;">
                            <p-dropdown class="form-control" id="durata" name="durata" #durata="ngModel" required
                                [ngClass]="{'is-invalid': f2.submitted && durata.invalid }" [options]="fasceDisponibili"
                                [(ngModel)]="durataa" optionLabel="stringa" placeholder="durata">
                            </p-dropdown>
                        </div>
                        <button pButton type="submit" style="margin-left: 2rem;" [disabled]="f2.invalid" label="Salva"
                            class="p-button-primary">
                        </button>
                    </div>
                </form>
            </p-tabPanel>

            <p-tabPanel header="Libera">
                <form #f3="ngForm" (ngSubmit)="f3.form.valid && prenotazioneLiberaMultipla()" novalidate>
                    <div class="form-group">
                        <div style="margin-bottom: 2rem;">
                            <input pInputText class="form-control" id="inDescrizione" name="inDescrizione"
                                #inDescrizione="ngModel" required
                                [ngClass]="{'is-invalid': f3.submitted && inDescrizione.invalid }"
                                [(ngModel)]="prenotazione.nome" placeholder="inserire una descrizione" />
                            <div *ngIf="inDescrizione.dirty && inDescrizione.touched && inDescrizione.invalid">
                                Inserire una desrizione
                            </div>
                        </div>
                        <div style="margin-bottom: 2rem;">
                            <p-dropdown class="form-control" id="durata" name="durata" #durata="ngModel" required
                                [ngClass]="{'is-invalid': f3.submitted && durata.invalid }" [options]="fasceDisponibili"
                                [(ngModel)]="durataa" optionLabel="stringa" placeholder="durata">
                            </p-dropdown>
                        </div>
                        <button pButton type="submit" style="margin-left: 2rem;" [disabled]="f3.invalid" label="Salva"
                            class="p-button-primary">
                        </button>
                    </div>
                </form>
            </p-tabPanel>

        </p-tabView>


    </div>
</p-dialog>

<p-toast position="bottom-left" key="tc"></p-toast>