<div style="background-color: #B9FF98; margin-bottom: 4rem;">

  <app-navbar></app-navbar>

  <div class="p-grid" style="margin-top: 2rem; margin-left: 1rem; margin-right: 1rem;">

    <div class="col-xs-1 col-md-3">
    </div>

    <div class="col-xs-10 col-md-6" style="margin-bottom: 30px;">
      <div style="position: center;">
        <img src="../../assets/immagini/home.jpeg" alt="home" style="width:100%; height:auto;">
      </div>
    </div>

    <div class="col-xs-1 col-md-3">
    </div>
  </div>

  <div style="padding-left: 20px; padding-right: 20px;">
    <p-card header="Registrazione"
      [style]="{'background-color':'#f8f9fa', 'max-width': '500px', 'margin-top':'50px', 'margin-left':'auto', 'margin-right':'auto'}">

      <form #f="ngForm" (ngSubmit)="f.form.valid && registrati()" novalidate>

        <div style="margin-bottom: 1rem;">
          <label>Email</label>
          <div class="form-group">
            <input pInputText class="form-control" id="inEmail" name="inEmail" #inEmail="ngModel" required
              style="max-width: 400px;" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}"
              [(ngModel)]="atleta.email" [ngClass]="{'is-invalid': f.submitted && inEmail.invalid }" />
            <div *ngIf="inEmail.dirty && inEmail.touched && inEmail.invalid">
              Formato email non permesso
            </div>
          </div>
        </div>

        <div style="margin-bottom: 1rem;">
          <label>Password</label>
          <div class="form-group">
            <input pPassword type="password" class="form-control" id="inPassword" name="inPassword"
              #inPassword="ngModel" style="max-width: 400px;" required minlength="3" [(ngModel)]="atleta.password"
              [ngClass]="{'is-invalid': f.submitted && inPassword.invalid }" />
            <div *ngIf="inPassword.dirty && inPassword.touched && inPassword.invalid">
              Lunghezza minima 3
            </div>
          </div>
        </div>

        <div style="margin-bottom: 1rem;">
          <label>Nome</label>
          <div class="form-group">
            <input pInputText class="form-control" id="inNome" name="inNome" #inNome="ngModel" required minlength="3"
              style="max-width: 400px;" [(ngModel)]="atleta.nome"
              [ngClass]="{'is-invalid': f.submitted && inNome.invalid }" />
            <div *ngIf="inNome.dirty && inNome.touched && inNome.invalid">
              Lunghezza minima 3
            </div>
          </div>
        </div>

        <div style="margin-bottom: 1rem;">
          <label>Cognome</label>
          <div class="form-group">
            <input pInputText class="form-control" id="inCognome" name="inCognome" #inCognome="ngModel" required
              style="max-width: 400px;" minlength="3" minlength="3" [(ngModel)]="atleta.cognome"
              [ngClass]="{'is-invalid': f.submitted && inCognome.invalid }" />
            <div *ngIf="inCognome.dirty && inCognome.touched && inCognome.invalid">
              Lunghezza minima 3
            </div>
          </div>
        </div>

        <div style="margin-bottom: 1rem;">
          <label>Telefono</label>
          <div class="form-group">
            <input pInputText class="form-control" id="inTelefono" name="inTelefono" #inTelefono="ngModel" required
              style="max-width: 400px;" minlength="=10" maxlength="10" pattern="[0-9]{10}" [(ngModel)]="atleta.telefono"
              [ngClass]="{'is-invalid': f.submitted && inTelefono.invalid }" />
            <div *ngIf="inTelefono.dirty && inTelefono.touched && inTelefono.invalid">
              Solo numeri permessi, lunghezza 10
            </div>
          </div>
        </div>

        <div class="form-group">
          <button pButton style="margin-right: 1rem;" type="submit" [disabled]="f.invalid" label="Registrati"
            class="p-button-success"></button>
          <button style="margin-right: 1rem;" pButton type="button" label="Annulla" class="p-button-warning"
            (click)="annulla()"></button>
        </div>

      </form>

    </p-card>
  </div>

</div>

<app-footer></app-footer>

<p-toast [style]="{'max-width': '80%'}" position="center" key="tc" (onClose)="vaiAllaHome()"></p-toast>