<app-navbar></app-navbar>

<div style="margin-top: 2rem; margin-left: 3rem; margin-right: 3rem;">
  <div class="p-grid">
    <div class="p-col-6">
      <p-card [style]="{'background-color':'#f8f9fa'}">
        <div class="p-grid">
          <div class="p-col-6">
            <img src="../../assets/immagini/campoTennis1.jpg" alt="Campo da Tennis in terra rossa 1"
              style="width:17rem; height:10rem;">
          </div>
          <div class="p-col-6">
            <h2>Campo in terra rossa 1</h2>
            Campo da tennis in terra rossa centrale
          </div> 
        </div>
      </p-card>
    </div>
    <div class="p-col-6">
      <p-card [style]="{'background-color':'#f8f9fa'}">
        <div class="p-grid">
          <div class="p-col-6">
            <img src="../../assets/immagini/campoTennis2.jpg" alt="Campo da Tennis in terra rossa 2"
              style="width:17rem; height:10rem;">
          </div>
          <div class="p-col-6">
            <h2>Campo in terra rossa 2</h2>
            Campo da tennis in terra rossa laterale
          </div> 
        </div>
      </p-card>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-6">
      <p-card [style]="{'background-color':'#f8f9fa'}">
        <div class="p-grid">
          <div class="p-col-6">
            <img src="../../assets/immagini/campoTennisCoperto.jpg" alt="Campo da Tennis coperto"
              style="width:17rem; height:10rem;">
          </div>
          <div class="p-col-6">
            <h2>Campo da Tennis coperto</h2>
            Campo da tennis coperto ideale per le giornate piovose o ventose.
          </div> 
        </div>
      </p-card>
    </div>
    <div class="p-col-6">
      <p-card [style]="{'background-color':'#f8f9fa'}">
        <div class="p-grid">
          <div class="p-col-6">
            <img src="../../assets/immagini/campoTennisCalcetto.jpg" alt="Campo da Tennis e da celcetto"
              style="width:17rem; height:10rem;">
          </div>
          <div class="p-col-6">
            <h2>Campo da Tennis e Calcetto</h2>
            Campo da tennis e da calcetto in erba sitetica. Si può usare sia per giocare a tennis che a calcetto
          </div> 
        </div>
      </p-card>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-6">
      <p-card [style]="{'background-color':'#f8f9fa'}">
        <div class="p-grid">
          <div class="p-col-6">
            <img src="../../assets/immagini/campoCalcetto.jpg" alt="Campo da Calcetto"
              style="width:17rem; height:10rem;">
          </div>
          <div class="p-col-6">
            <h2>Campo da Calcetto</h2>
            Campo da Calcetto grande, ideale per giocare 5 contro 5.
          </div> 
        </div>
      </p-card>
    </div>
    <div class="p-col-6">
      <p-card [style]="{'background-color':'#f8f9fa'}">
        <div class="p-grid">
          <div class="p-col-6">
            <img src="../../assets/immagini/palestra.jpg" alt="Palestra"
              style="width:17rem; height:10rem;">
          </div>
          <div class="p-col-6">
            <h2>Palestra</h2>
            Palestra interna alla struttura con attrezzi per fitness e body-building.
          </div> 
        </div>
      </p-card>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-6">
      <p-card [style]="{'background-color':'#f8f9fa'}">
        <div class="p-grid">
          <div class="p-col-6">
            <img src="../../assets/immagini/parcheggio.jpg" alt="Parcheggio"
              style="width:17rem; height:10rem;">
          </div>
          <div class="p-col-6">
            <h2>Parcheggio</h2>
            Ampio parcheggio all' entrata della struttura.
          </div> 
        </div>
      </p-card>
    </div>
  </div>
</div>