<app-navbar></app-navbar>

<app-struttura></app-struttura>

<div class="p-grid"
  style="margin-top: 0rem; margin-left: 0rem; margin-right: 0rem; padding-left: 0px; padding-right: 0px;">

  <div class="col-md-6" style="background-color: #ccff99;">
    <p-card [style]="{'background-color': '#daffb3'}">
      <h1 style="text-align: center; margin-bottom: 2rem;">Prenota un campo</h1>
      <h4 style="text-align: center;">
        Lo sporting club Mendicino offre un servizio in cui è possibile visualizzare la
        disponibilità dei campi ed effettuare prenotazioni.
      </h4>
      <div style="text-align: center; margin-top: 2rem;">
        <button (click)="redirect('prenotazione')" pButton type="button" label="Prenota" icon="pi pi-arrow-right"
          iconPos="right" class="p-button-text p-button-text"></button>
      </div>
    </p-card>
  </div>

  <div class="col-md-6">
    <p-card [style]="{'height': '100%','background-color': '#daffb3'}">
      <h1 style="text-align: center; margin-bottom: 2rem;">Il tuo Profilo</h1>
      <h4 style="text-align: center;">
        In questa pagina sono presenti i tuoi dati anagrafici e le prenotazioni in corso.
      </h4>
      <div style="text-align: center; margin-top: 2rem; height: 100%;">
        <button (click)="redirect('profilo')" pButton type="button" label="Visualizza" icon="pi pi-arrow-right"
          iconPos="right" class="p-button-text p-button-text"></button>
      </div>
    </p-card>
  </div>

  <div class="col-md-6">
    <p-card [style]="{'background-color': '#daffb3'}">
      <h1 style="text-align: center; margin-bottom: 2rem;">Log In</h1>
      <h4 style="text-align: center;">
        Effettua il login per poter accedere al tuo profilo ed visualizzare le prenotazioni
      </h4>
      <div style="text-align: center; margin-top: 2rem;">
        <button (click)="navigate('login')" pButton type="button" label="Accedi" icon="pi pi-arrow-right"
          iconPos="right" class="p-button-text p-button-text"></button>
      </div>
    </p-card>
  </div>

  <div class="col-md-6">
    <p-card [style]="{'height': '100%', 'background-color': '#daffb3'}">
      <h3 style="text-align: center; margin-bottom: 2rem;">
        Se non sei ancora registrato, fallo ora!
      </h3>
      <div style="text-align: center; margin-top: 2rem;">
        <button (click)="navigate('registrazione')" pButton type="button" label="Registrati" icon="pi pi-arrow-right"
          iconPos="right" class="p-button-text p-button-text"></button>
      </div>
    </p-card>
  </div>

</div>

<app-footer></app-footer>
